* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    -webkit-font-smoothing: antialiased;
}

:root {
    --almost-white: #FFFDFA;
    --dark-blue: #00001A;
    --gunmetal: #5E607A;
    --vermillion: #F15D51;
    --yellow: #E9AA52;
    --silver: #C5C6CE;;
}

body {
    padding: 1rem 1rem;
    background-color: var(--almost-white);

    max-width: 1160px;
    margin-inline: auto;
    height: 100svg;
}

header {
    background-color: var(--yellow);
    max-width: 1160px;
    padding: 0.5rem;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

header h1 {
    font-size: 1.5rem;
    color: var(--dark-blue);
    font-weight: 700;
}

main {
    display: flex;
    justify-content: space-between;
}

.mapa {
    background-color: var(--silver);
    display: flex;
    align-items: center;
    justify-content: center;
}

.mapa img {
    width: fit-content;
}

.menu-lateral {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    box-shadow: 5px 5px 20px RGBA(0, 0, 0, .1);
}

.menu-lateral input {
    display: none;
}

.turno {
    width: 150px;
}

.turno p {
    color: var(--gunmetal);
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 12px;
}

.turno label {
    border: 1px solid var(--silver);
    border-radius: 4px;
    padding: 5px;
    text-align: center;
    justify-content: center;
    margin: 2px;
    cursor: pointer;
}

.turno label:hover {
    background-color: var(--vermillion);
}

.turno div {
    margin-top: 15px;
    border: 1px solid var(--silver);
}

.ano-eleicao {
    display: flex;
    flex-direction: column;
}

.ano-eleicao p {
    color: var(--gunmetal);
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 8px;
}

.ano-eleicao label {
    display: block;
    color: var(--dark-blue);
    font-size: 0.9rem;
    margin-bottom: 5px;
    cursor: pointer;
}

.ano-eleicao input[type='radio']:checked + label::after {
    background-color: green;
}

.ano-eleicao label:hover {
    color: var(--vermillion);
}

.barra-resultado {
    box-shadow: 5px 5px 20px RGBA(0, 0, 0, .1);
}

.barra-resultado > p {
    font-size: 1.3rem;
    color: var(--dark-blue);
    font-weight: 500;
    margin: 10px 20px;
}

.candidatos {
    display: flex;
    flex-direction: column;
}

.candidato {
    display: flex;
    margin: 10px 20px;
    padding: 10px;

    border-top: 1px solid var(--gunmetal);
}

.candidato img {
    width: 56px;
    height: 56px;
    border-radius: 999px;
    margin-inline: 20px;
}

.candidato div {
    display: flex;
    flex-direction: column;
}

.nome-partido {
    display: flex;
    justify-content: center;
    margin-inline: 20px;
    width: 100px;
}

.candidato div h2 {
    font-size: 1rem;
    justify-self: center;
    margin-bottom: 5px;
}

.candidato div p {
    font-size: 0.8rem;
    margin-bottom: 5px;
}

.porcentagem {
    background-color: var(--gunmetal);
    height: 8px;
    padding: 1px;
    border-radius: 999px;
}

.porcentagem div {
    height: 100%;
    background-color: var(--vermillion);
    border-radius: 999px;
}

.resultado {
    margin-inline: 20px;
}

@media(max-width: 1110px) {
    main {
        flex-direction: column;
        gap: 20px;
    }

    .mapa {
        overflow: hidden;
    }

    .ano-eleicao div {
        display: flex;
        gap: 10px;
    }

    .ano-eleicao label {
        border-right: 1px solid var(--gunmetal);
        padding-right: 10px;
    }
}